
* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  
}

body {
  background-color: #232946;
  
}
#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
}



h1, h2, h3, strong {
  color: #fffffe;
  text-decoration: none;
}
h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 800;
}
h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: .7rem;
  margin-top: .7rem;
}
h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: .7rem;
  margin-top: .7rem;
}
p {
  margin-bottom: .5rem;
  margin-top: .5rem;
  color: #b8c1ec
}
a {
  margin-bottom: .5rem;
  margin-top: .5rem;
  color: #eebbc3;
  text-decoration: none;
}
pre {
  background-color: #b8c1ec;
  width: 95%;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
   /* overflow-x: auto; Añadido para permitir el desplazamiento horizontal */
  white-space: pre-wrap; /* Opcional, para asegurar que el texto largo se ajuste */
}
code {
  color: #121629
}

li {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  color: #b8c1ec
}
li::marker {
  color: #b8c1ec;
  font-weight: bold;
  
  content: "▶  ";
}

@media (max-width: 700px) {
  pre {
    width: 90%;
  }
}