.main {
  width: 700px;
  padding-top: 3rem;
  
}
.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.iconbutton {
  display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
  margin-right: 15px;
  margin-left: 15px;
}
.proyectos {
  padding-top: 7%;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columnas iguales */
  grid-gap: 20px; /* Espacio entre columnas */
  margin-bottom: 1.5rem;
}
.card {
  background-color: #fffffe;
  width: 340px;
  border-radius: 15px;
  
}
.card p,
.card strong {
  color: #232946;
  margin: 1rem;
}
.imagen {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  mask-image: linear-gradient(
    #fffffe,
    transparent
  );
}

/* Mobile */
@media (max-width: 701px) {
  .main {
    width: 90%;
    padding-top: 2.5rem;
  }
  .description {
    flex-direction: column-reverse;
  }
  .sobremi {
    align-items: center;
  }
  .lateral {
    margin-bottom: 1rem;
  }
  .cards {
    display: flex;
    flex-direction: column; /* Colocar elementos uno debajo de otro */
    align-items: center;
    gap: 20px; /* Espacio entre elementos */
  }

}

