.card {
    background-color: #fffffe;
    border-radius: 15px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .card p,
  .card h2,
  .card strong {
    color: #232946;
  }

.resaltar {
    color: #eebbc3;
    font-weight: 600;
}
.card:hover{
    background-color: #d4d8f0;
}